*{
    padding: 0;
    margin: 0;
}

.landing{
    height: 100vh;
    background-image: linear-gradient(rgba(88, 85, 85, 0.673), 
    #0b0b0b),
    url(background.jpeg);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
}

.nav-bar{
    display: flex;
    height: 12%;
}

.navbar-left{
    flex-basis: 70%;
    border-bottom: 1px solid white;
}

.img-one{
    max-height: 6cm;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    border: 2px solid black;
}

.navbar-inner{
    display: flex;
}

.navbar-inner ul{
    margin-left: 20px;
    z-index: 2;
}

.navbar-inner ul li{
    margin-left: 10px;
    margin-top: 30px;
    padding: 20px;
    font-size: 18px;
    display: inline-block;
}

.navbar-inner ul li a{
    text-decoration: none;
    color: #fff;
}


.navbar-right{
    flex-basis: 30%;
    background-color: #fff;
    align-items:flex-end;
}

.navbar-right ul{
    margin-left: 150px;
}

.navbar-right ul li{
    display: inline-block;
    padding: 20px 20px;
}

img{
    max-height: 1cm;
}

.content{
    display: flex;
    height: 88%;
}

.content-left{
    flex-basis: 70%;
    position: relative;
}

.content-right{
    flex-basis: 30%;
    position: relative;
    background: #fff;
}

.upper-text{
    left: 30%;
    top: 15%;
    position: absolute;
    color: white;
    opacity: .4;
    font-size: x-large;
}

.upper-text h1{
    font-size: 150px;
    line-height: 120px;
    font-style: italic;
}

.bottom-text{
    left: 65%;
    bottom: 12%;
    position: absolute;
    color: #fff;
    opacity: .4;
}

.bottom-text h1{
    font-size: 100px;
    margin-left: 100px;
    line-height: 50px;
}

.bottom-text h2{
    font-size: 60px;
}

.bottom-text h3{
    font-size: 40px;
    margin-left: 225px;
    line-height: 10px;
}

.content-left img{
    top: -75px;
    right: -211px;
    position: absolute;
    z-index: 1;
    min-height: -webkit-fill-available;
}

.content-right img{
    min-height: 35%;
    left: 50px;
    position: absolute;
}

.product-details{
    bottom: 10%;
    left: 10%;
    position: absolute;
    margin-bottom: 20px;
}

.price-box{
    display: flex;
    width: 170px;
    height: 150px;
    align-items: center;
    box-shadow: -40px 0 20px -40px rgba(189, 189, 189, 0.5),
    40px 0 20px -40px rgba(189, 189, 189, 0.5);
}

.price{
    flex-basis: 70%;
}

.price h2{
    font-size: 22px;
    margin-left: 20px;
    color: #999;
}

.price h1{
    margin-left: 20px;
    margin-bottom: 10px;
}

.price h3{
    margin-left: 20px;
    color: #ccc;
}

.varient{
    flex-basis: 30%;
    text-align: center;
}

.varient div{
    width: 13px;
    height: 13px;
    margin: 5px auto;
}

.varient div:nth-child(1){
    background-color: blue;
    transform: scale(1.2);
}

.varient div:nth-child(2){
    background-color: red;
}
.varient div:nth-child(3){
    background-color: gray;
}
.varient div:nth-child(4){
    background-color: black;
}

.varient div:nth-child(5){
    background-color: lime;
}

.product-details p{
    text-align: right;
    color: #999;
    font-size: 13px;
}